.books {
    width: 100%;
    display: flex;
    justify-content: 'space-between';
    align-content: flex-start;
    flex-wrap: wrap;}
  
.card {
    color:gray;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    position: relative; 
    /* width: 20%;  */
    padding: 10px;
    border: 1px solid black;
    box-shadow: 7px 7px #888888;
    width: 250px;
    height: 200px;
    margin: 5px;
    
    }

.star-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 10px;
  align-content: center;  
}



.p {
  text-align: center;
  font-size: 1.2em;
}

.star_rating {
  margin-right: 80%;
  width: 100%;
  text-align: center;
}

.btn {
  margin-left: 50%;
  width: 40%;  
}



      

        /*  sx={{ minWidth: 300, border: '1px solid black',
    boxShadow: '7px 7px #888888', margin:'5px', width: '100px', height: '200px'}}>       */
  
      